#swipeOverlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 64px;
  height: 32px;
  z-index: 3000;
  background-color: rgba(255, 100, 100, 0.25);
  margin: 0;
  touch-action: none;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}
#swipeOverlay::backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3000;
  background-color: rgba(0, 0, 0, 0);
  touch-action: none;
}
