#swipeOverlay {
  display: block;
  position: fixed;
  margin: 0;
  padding: 0;
  border: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3000;
  background-color: rgba(255, 100, 100, 0.05);
  touch-action: none;
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
}
button.navBtn,button.ctlBtn {
  font-size: 2em;
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 3px;
  border-width: 1px;
}
button.navBtn>img,button.ctlBtn>img {
  width: 40px;
  height: 40px;
}
#swipeIndicator {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  border: none;
  width: 96px;
  height: 96px;
}
